@import url('https://fonts.googleapis.com/css2?family=Judson:wght@700&family=Quicksand:wght@300&display=swap');

html {
    font-size:16px;
}

body {
    background-color: #5E627A;
    font-family:'Judson', serif;
    line-height: 1.5;
    color: #FFFFFF;
    max-width: 64.8rem;
    margin: 3.5rem auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1,
h2,
footer, 
nav {
    color: #FFFFFF;
    font-family: 'Judson', serif;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 700;
}

input, textarea {
    background-color: #5E627A;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 20px;
    width: 100%;
    padding: 8px 16px 8px 16px;
}

label {
    display: block;
    margin: 16px 0px 16px, 0px:
}

textarea {
    height: 320px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal; 
}

button {
    background-color: #FFFFFF;;
    border: none;
    font-size: 20px;
    font-family: 'Judson', serif;
    padding: 8px 16px 8px 16px;
}

input:focus, textarea:focus {
    border: 2px solid #FFFFFF;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;     
}

a {
    color: #D2DFEB;
    text-decoration: none;
    margin: 0 0 0 2rem;
}

a:visited,
.selected {
    color: #D2DFEB;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {

}

section {
    margin: 6.56rem auto;
    display: grid;
    grid-template: repeat(12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
}

footer {
    width: 64.8rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#byline {
    text-align: center;
    grid-column: 1/10;
}

#project_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#description_1 {
    text-align: center;
}

#project_2 {
    grid-column: 5/10
}


#description_2 {
    grid-column: 1/2;
    text-align: left;
}

#project_3 {
    grid-column: 1/6;
}

#description_3 {
    grid-column: 6/10;
    text-align: right;
}

#project_4 {
    grid-column: 6/10;
}

#description_4 {
    grid-column: 1/5;
}

#project_5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#description_5 {
    text-align: center;
}

#headshot {
    grid-column: 3/5;
}

#about {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    vertical-align: text-top;
    grid-column: 6/9;
}

img {
    max-width: 100%;
    max-height: 350px;
}

#contactline {
    text-align: center;
}

#grad {
    text-align: left;
}

#gradimages {
    grid-column: 1/5;
}
