@import url('https://fonts.googleapis.com/css2?family=Judson:wght@700&family=Quicksand:wght@300&display=swap');

html {
    font-size:16px;
}

body {
    background-color: #5E627A;
    font-family:'Judson', serif;
    line-height: 1.5;
    color: #FFFFFF;
    max-width: 70.5rem;
    margin: 3.5rem auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1,
h2, 
nav {
    color: #FFFFFF;
    font-family: 'Judson', serif;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 700;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;     
}

a {
    color: #D2DFEB;
    text-decoration: none;
    margin: 0 0 0 2rem;
}

a:visited,
.selected {
    color: #D2DFEB;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {

}

section {
    margin: 6.56rem auto;
    display: grid;
    grid-template: repeat(12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
}

footer {
    width: 87.5rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#byline {
    text-align: center;
    grid-column: 1/10;
}

#project_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#description_1 {
    text-align: center;
}

#project_2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

#description_2 {
    grid-column: 1/2;
    text-align: left;
}

#project_3 {
    
}
